<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <link rel="shortcut icon" href="#"/> -->
    <link rel="stylesheet" type="text/css" href="/static/css/index.css">

</head>
<body>
    <!-- 上傳訊息欄位 -->
    <div>
        <index-1></index-1>
    </div>
    <!-- 顯示所有留言欄位 -->
    <div>
        <all-message></all-message>
    </div>
    <script src="/static/html/all_message_HTML.js"></script>
    <script src="/static/html/submit_box_HTML.js"></script>
    <script src="/static/js/index.js"></script>
</body>
</html>